<html dir="rtl">
  <head>
  	<meta charset="utf-8"></meta>
  	<title>אני הכי מאמינה ב...</title>
  	<link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="matarot">
    	<p>המטרה שלי היא <strong>{{ matara }}</strong></p>
    </div>
  </body>
  </html>